.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/*
.history/src/components/TODO-input_20220819232757.vue
.history/src/components/TODO-input_20220819232917.vue
.history/src/components/TODO-input_20220819232920.vue
.history/src/components/TODO-input_20220819232929.vue
.history/src/components/TODO-input_20220819233049.vue
.history/src/components/TODO-input_20220819233059.vue
.history/src/components/TODO-input_20220819233145.vue
.history/src/components/TODO-input_20220819233247.vue
.history/src/components/TODO-input_20220819233254.vue
.history/src/components/TODO-input_20220819233306.vue
.history/src/components/TODO-input_20220819233310.vue
.history/src/components/TODO-input_20220819233435.vue
.history/src/components/TODO-input_20220819233452.vue
.history/src/components/TODO-input_20220819233500.vue
.history/src/components/TODO-input_20220819233526.vue
.history/src/components/TODO-table_20220818212903.vue
.history/src/components/TODO-table_20220819232359.vue
.history/src/components/TODO-table_20220819232803.vue
.history/src/components/TODO-table_20220819233718.vue
.history/src/components/TODO-table_20220819233730.vue
.history/src/components/TODO-table_20220819233815.vue
.history/src/components/TODO-table_20220819233843.vue
.history/src/components/TODO-table_20220819233908.vue
.history/src/components/TODO-table_20220819234212.vue
.history/src/components/TODO-table_20220819234325.vue
.history/src/components/TODO-table_20220819234511.vue
.history/src/components/TODO-table_20220819234623.vue
.history/src/components/TODO-table_20220819234626.vue
.history/src/components/TODO-table_20220819234631.vue
.history/src/components/TODO-table_20220819234653.vue
.history/src/components/TODO-table_20220819234701.vue
.history/src/components/TODO-table_20220819234748.vue
.history/src/components/TODO-table_20220819234809.vue
.history/src/components/TODO-table_20220819234902.vue
.history/src/components/TODO-table_20220819234944.vue
.history/src/components/TODO-table_20220819235017.vue
.history/src/components/TODO-taskItem_20220818211804.vue
.history/src/components/TODO-taskItem_20220819234431.vue
.history/src/components/TODO-taskItem_20220819234441.vue
.history/src/components/TODO-taskItem_20220819234524.vue
.history/src/components/TODO-taskItem_20220819234526.vue
.history/src/components/TODO-taskItem_20220819234912.vue
.history/src/components/TODO-taskItem_20220819234940.vue
.history/src/components/TODO-taskItem_20220819235015.vue
.history/src/components/TODO-taskItem_20220819235449.vue
.history/src/components/TODO-taskItem_20220819235501.vue
.history/src/components/TODO-taskItem_20220819235603.vue
.history/src/components/TODO-taskItem_20220819235633.vue
.history/src/components/TODO-taskItem_20220819235756.vue
.history/src/components/TODO-taskItem_20220819235811.vue
.history/src/components/TODO-taskItem_20220819235853.vue
.history/src/components/TODO-taskItem_20220819235947.vue
.history/src/components/TODO-taskItem_20220820000409.vue
.history/src/components/TODO-taskItem_20220820000457.vue
.history/src/components/TODO-taskItem_20220820000521.vue
.history/src/components/TODO-taskItem_20220820000555.vue
.history/src/components/TODO-taskItem_20220820000621.vue
.history/src/components/TODO-taskItem_20220820000657.vue
.history/src/components/TODO-taskItem_20220820000735.vue
.history/src/components/TODO-taskItem_20220820000913.vue
.history/src/components/TODO-taskItem_20220820000934.vue
.history/src/components/TODO-taskItem_20220820001008.vue
.history/src/components/TODO-taskItem_20220820001047.vue
.history/src/components/TODO-taskItem_20220820001102.vue
.history/src/components/TODO-taskItem_20220820001125.vue
.history/src/components/TODO-taskItem_20220820001136.vue
.history/src/components/TODO-taskItem_20220820001139.vue
.history/src/components/TODO-taskItem_20220820001251.vue
.history/src/components/TODO-taskItem_20220820105357.vue
.history/src/components/TODO-taskItem_20220820105458.vue
.history/src/components/TODO-taskItem_20220820105748.vue
.history/src/components/TODO-taskItem_20220820105907.vue
.history/src/components/TODO-taskItem_20220820105938.vue
.history/src/components/TODO-taskItem_20220820105948.vue
.history/src/components/TODO-taskItem_20220820110005.vue
